{% extends 'layout.html'  %}
{% load static %}

{% block title%}DDA Line{% endblock %}
{% block styles %} <link rel="stylesheet" href="{% static 'styles/styles.css' %}">{% endblock %}
{% block navlinks %}<a href="{% url 'bresenham' %}" class='button'>Bresenham</a>{% endblock%}
{%block header %} DDA Line Drawing {% endblock %}
{% block body%}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Calculate">
    </form>
    {% if resultx %}
        <h2>X: {{ resultx }}</h2>
	<h2>Y: {{ resulty}} </h2>
    {% endif %}

    {{ chart|safe }}
    {% block script %}<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>{% endblock %}
{% endblock %}


