
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title  %}{% endblock  %}</title>
    <meta name="description" content="A simple HTML5 Boilerplate template">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
	    <h1>{% block header  %} {% endblock  %}</h1>
        <nav>
            <ul>
		{% block navlinks %}
		
		{% endblock  %}
            </ul>
        </nav>
    </header>
    <main>
	    {% block body  %}

	    {% endblock  %} 
   
    </main>
    <footer>
        <p>&copy; 2023 Your Name</p>
    </footer>
</body>
</html>

