{% extends 'layout.html'  %}
{% load static %}

{% block title%}midpoint circle{% endblock %}
{% block styles %} <link rel="stylesheet" href="{% static 'styles/bresenham.css' %}">{% endblock %}

{%block header %} midpoint circle {% endblock %}
{% block navlinks %}<a href="{% url 'DDA' %}" class='button'>DDA</a>{% endblock%}
{% block body%}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Calculate">
    </form>
    {% if resultx or coordinates %}
    	<h1> Coordinates: {{ coordinates }}</h1>
        <h2>X: {{ resultx }}</h2>
	<h2>Y: {{ resulty}} </h2>
    {% endif %}

    {{ chart|safe }}
    {% block script %}<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>{% endblock %}
{% endblock %}

